@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

#treatments-dropdown {
  position: absolute;
  display: block;
  min-width: 200px; /* Ensure it has enough width */
  font-family: "Lato", sans-serif;
}

.treatments-dropdown,
button:hover {
  color: #0891b2;
}

.treatments-dropdown-title {
  cursor: pointer;
  font-weight: 500;
  background: none;
  border: none;
  font-size: 1em;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 400px;
  align-content: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px 0;
  overflow-y: auto;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
}

.dropdown-content.open {
  max-height: 400px;
  margin-left: 41%;
  opacity: 1;
}

.dropdown-content div {
  padding: 12px 16px;
  color: #0891b2;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
  color: #065f73;
}

.dropdown-content div:focus {
  outline: 2px solid #0891b2;
  background-color: #e0f7fa;
}

.dropdown-content div:focus-visible {
  outline: 2px solid #ff7f50;
  background-color: #ffe4c4;
}
@media screen and (max-width: 1060px) {
  .treatments-card {
    max-height: fit-content;
  }
}

@media (max-width: 600px) {
  #treatments-dropdown {
    width: 100%;
  }

  .dropdown-title {
    font-size: 1.2em;
    text-align: center;
    padding: 12px;
    animation: textGlow 3s infinite, multiColor 6s infinite;
  }
  @keyframes textGlow {
    0% {
      text-shadow: 
        0 0 5px #e930ec,
        0 0 10px #e930ec,
        0 0 20px #e930ec,
        0 0 40px #e930ec,
        0 0 80px #e930ec;
    }
    50% {
      text-shadow: 
        0 0 5px #00ff00,
        0 0 10px #00ff00,
        0 0 20px #00ff00,
        0 0 40px #00ff00,
        0 0 80px #00ff00;
    }
    100% {
      text-shadow: 
        0 0 5px #0000ff,
        0 0 10px #0000ff,
        0 0 20px #0000ff,
        0 0 40px #0000ff,
        0 0 80px #0000ff;
    }
  }
  .dropdown-content {
    min-width: 100%;
    left: 0;
    right: 0;
    border-radius: 0;
    padding: 5px 0;
  }

  .dropdown-content div {
    text-align: center;
    padding: 16px;
    font-size: 1em;
  }

  .dropdown-content div:hover {
    background-color: #f0f0f0;
  }
}
