/* General Styles */
.treatments-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(10deg,
  rgba(119, 172, 188, 0.844),
  rgba(60, 129, 146, 0.83),
  rgba(188, 205, 240, 0.843))
}

.top-sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

.treatments-dropdown.open {
  display: block; /* Make visible */
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Bring into view */
}

#treatments-dropdown, dropdown-title {
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  
}

.btn-dropdown:hover {
  background-color: #3cd5e67b;
}

/* Main Content */
.main-content {
  width: 100%;
}

.treatments-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.treatment-category {
  flex: 1 1 calc(25% - 20px);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.treatment-category h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

.treatment-card {
  padding: 10px;
  display: grid;
  justify-items: center;
}
.treatment-category h3 {
  font-size: 18px;
}

.treatment-category p {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  padding-bottom: 0;
}

.treatment-category span {
  font-size: 1rem;
  margin-bottom: 5px;
}

.treatment-category button {
  padding: 8px 12px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #085162;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.treatment-category button:hover {
  background-color: #218838;
}

/* Responsive Styles */

/* For devices with max-width of 1060px */
@media screen and (max-width: 1060px) {
  .treatments-page {
    flex-direction: column;
    padding: 15px;
  }

  .left-sidebar {
    width: 100%;
    order: 2;
  }

  .main-content {
    width: 100%;
    order: 1;
  }

  .treatments-grid {
    gap: 15px;
  }

  .treatment-category {
    flex: 1 1 calc(50% - 15px);
    padding: 8px;
  }
}

/* For devices with max-width of 600px */
@media screen and (max-width: 600px) {
  .treatments-page {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .top-sidebar {
    width: 100%;
  }
.glowbtn-dropdpown {
  padding: 15px 15px;
  font-size: 1em;
}
  .main-content {
    width: 100%;
  }

  .treatments-grid {
    gap: 10px;
  }

  .treatment-category {
    flex: 1 1 100%;
  }

  .btn-dropdown {
    font-size: 14px;
    padding: 8px;
  }

  .treatment-category h3 {
    font-size: 16px;
  }

  .treatment-category p {
    font-size: 12px;
  }

  .treatment-category button {
    font-size: 12px;
    padding: 6px 10px;
  }
}
