@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

#App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

#App > main {
  flex: 1;
}

/* Container to constrain width */
.container {
  max-width: 1200px;  /* adjust as needed */
  margin: 0 auto;     /* center horizontally */
  padding: 0 auto;    /* optional padding */
}

@media screen and (max-width: 1060px) {}

@media screen and (max-width: 600px) {}
